body{
  margin:0;
  color: #000;
  font-family: 'Arial';
}

.contact{
  margin:auto;
}

a {
  color:#000;
  font-size: 1.2em;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

ul > li > ul {
  display: none;
  background-color: white;
  list-style-type: none;
}

ul > li:hover{
    background-color:#8bd0d3;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
